<div class="col-md-12">


    <h3>Dish Details</h3>

    <form name="userForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="name">Name</label>

            <div class="controls">
                <input id="name" name="name" ng-model="dish.name" type="text" placeholder="Name"
                       class="input-xlarge" required="" size="60"
                       ng-class="{error: dish.name.$invalid && !dish.name.$pristine}"/>
            </div>
        </div>

        <div class="control-group" ng-class="{error: dish.ingredients.$invalid && !user.ingredients.$pristine}">
            <label class="control-label" for="ingredients">Ingredients</label>

            <div class="controls">
                <input id="ingredients" name="ingredients" ng-model="dish.ingredients" placeholder="ingredients"
                       class="input-xlarge" required="" size="60" />
            </div>
        </div>

        <div class="control-group" >
            <label class="control-label" for="url">Link to Recipe</label>

            <div class="controls">
                <input id="url" name="url" ng-model="dish.url" placeholder="url"
                       class="input-xlarge" required="" size="60" />
            </div>
        </div>

        <div>
        <button ng-click="save()" ng-if="user.id" ng-disabled="user.$invalid || !user.tnc" class="btn btn-primary"><i class="icon-white icon-plus"></i> Save</button>
        <button ng-click="add()" type="submit" ng-if="!user.id" ng-disabled="user.$invalid || !user.tnc" class="btn btn-primary"><i class="icon-white icon-plus"></i> Add</button>
        <button ng-click="cancel()" class="btn">Cancel</button>
        </div>
        <!--
        <div class="control-group" ng-class="{error: user.dob.$invalid && !user.dob.$pristine}">
            <label class="control-label" for="dob">Date Of Birth</label>

            <div class="controls">
                <input type="text" class="input-xlarge" datepicker-popup="yyyy-MM-dd" ng-model="user.dob"
                       is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options=""
                       date-disabled="disabled(date, mode)" ng-required="true" show-weeks="false"
                       show-button-bar="false"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="gender">Gender</label>

            <div class="controls">
                <label class="radio inline" for="male">
                    <input type="radio" name="gender" ng-model="user.gender" id="male" value="male"
                           checked="checked">
                    Male
                </label>
                <label class="radio inline" for="female">
                    <input type="radio" name="gender" ng-model="user.gender" id="female" value="female">
                    Female
                </label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="country">Country</label>

            <div class="controls">
                <select class="input-xlarge" id="country" ng-model="user.country" ng-click="select_change($event)"
                        ng-options="c.id as c.name for c in country_array">
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="state">State</label>

            <div class="controls">
                <select class="input-xlarge" id="state" ng-model="user.state"
                        ng-options="s.id as s.name for s in filteredArray | filter:{country_id: user.country}">
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="designation">Designation</label>

            <div class="controls">
                <select id="designation" ng-model="user.designation" name="designation" class="input-xlarge"
                        ng-options="opt.name as opt.name for opt in designations"></select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="tnc">Term &amp; Condition</label>

            <div class="controls">
                <label class="checkbox inline" for="tnc">
                    <input name="tnc" id="tnc" type="checkbox" ng-model="user.tnc" required/>Accept
                </label>
            </div>
        </div>
        -->

    </form>

    <br />
    <input type="checkbox" ng-model="debug"> Debug
    <pre ng-bind="dish|json"></pre>
    <!--</form> -->
</div>
