<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" href="#">
                <img src="img/dish-invert-48x48.png" />
                <span>Yummy</span>
            </a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/dishes">My Dishes</a></li>
                <li><a href="#/dishes/new">New Dish</a></li>
                <li><a href="#/tags">Tags</a></li>
                <li><a href="#/settings">Settings</a></li>
                <li><a href="http://tillkuhn.github.io/yummy/about/" target="_ext">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/tillkuhn/yummy"><i class="icon-github"></i> View on GitHub</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
